/* 基本設定 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ヘッダー */
header {
    background: #34495e;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* メインセクション */
.section {
    padding: 60px 0;
}

.bg-light {
    background-color: #f4f4f4;
}

h2 {
    font-size: 32px;
    color: #34495e;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
    border-left: 5px solid #34495e;
    padding-left: 10px;
    margin-top: 40px;
}

/* ヒーローセクション */
.hero {
    background: url('https://th.bing.com/th/id/R.b35f1b24b6be7e5c9bf48afcdf0f28e7?rik=89hBH%2buw8jTQxg&riu=http%3a%2f%2ftmyun.com%2fjpeg%2fyun_6655.jpg&ehk=dlFt1Z9I8g30C7cxjIslS4kSHQZR%2bbpcfuS460ob4QY%3d&risl=&pid=ImgRaw&r=0/1500x800.png') no-repeat center center/cover;
    height: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h2 {
    font-size: 48px;
    margin: 0;
    color: #fff;
}

.hero-content p {
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
}


/* フッター */
footer {
    text-align: center;
    padding: 20px 0;
    background: #2c3e50;
    color: #fff;
}
